@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
  }

  html, body {

    
    width: 100vw;
    height: 100vh;
    
    
    
}

.background-container {

    display: flex;
}



.background-main {

        width: 35%;
        height: 1000px;
        margin: 0;
        padding: 0;
        background-color: #E5E5E5;

}

.background-aside {

    width: 65%;
    height: 1000px;
    margin: 0;
    padding: 0;
    background-color: #C4C4C4;
}

.navbar {

    display: flex;
    width: 1320px;
}

.logo {

    position: absolute;

    width: 52px;
    height: 36.4px;
    top: 39px;
    left: 60px;
}

.options {

    
    display: flex;
    position: absolute;

    width: 60%;
    align-content:space-between;
    justify-content: space-around;
    left: 140px;
    top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.options > p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.searcher {

    position: absolute;
    width: 220px;
    height: 45px;
    left: 950px;
    top: 35px;

}

.casebag {

    position: absolute;
    width: 220px;
    height: 45px;
    left: 1200px;
    top: 35px;

}

main > section{

    position: absolute;
    width: 357px;
    height: 533px;
    left: 111px;
    top: 190px;
    

}

main > section > h1 {

    width: 357px;
    height: 272px;
    left: 111px;
    top: 190px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    color: #000000;

}

.main-text {

    position: absolute;
    width: 342px;
    height: 57px;
    /* left: 111px;
    top: 483px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #9C9696;
}

.price-big {

    position: absolute;
    width: 220px;
    height: 42px;
    
    top: 380px; 

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #000000;

}

button {

    position: absolute;
    width: 274px;
    height: 90px;
    
    top: 500px; 

    background: #FF0000;

    border: none;

}

button > p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

aside {

    width: 700px;
    background-color: #C4C4C4;
    ;
}

aside > img {

    position: absolute;
    width: 597px;
    height: 510.82px;
    left: 697px;
    top: 175.68px;

    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tenis2 {

    position: absolute;
    width: 269.51px;
    height: 182.8px;
    left: 558px;
    top: 690.58px;

}

.tenis1 {

    position: absolute;
    width: 250px;
    height: 187.88px;
    left: 865px;
    top: 685.5px;

   
}

.tenis1:hover {

    border-bottom: 4px solid red;
}

.tenis3 {

    position: absolute;
    width: 270px;
    height: 182.8px;
    left: 1152px;
    top: 690.58px;
}


footer {

    position: absolute;
    width: 1440px;
    height: 166.33px;
    left: 0px;
    top: 914px;

    background-color: #E5E5E5;

    

}

.socials {

   display: flex;
   justify-content: space-between ;

   width: 600px;
   height: 166.33px;
   left: 320px;
   top: 50px;

   position: absolute;

  

}

.socials > p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #000000;

    top: 50px;
    
}

iframe {

    position: absolute;
    width: 250px;
    height: 166.33px;
    

}

.explore {

    position: absolute;
    width: 437px;
    height: 166px;
    left: 1000px;
    top: 0px;

    background: #000000;

    
}

.explore > p {

    position: absolute;
    width: 205px;
    height: 28px;
    margin: 71px 116px 67px 116px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.arrow-footer {

    height: 24px;
    width: 24px;
    top: 2px;
    position: absolute;
}
